/* PizzaCard.css */
@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
.pizza-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(330px, 300px));
	gap: 20px;
	padding: 20px;
	margin: 20px;
	margin-bottom: 80px;
	padding-bottom: 40px;
	justify-content: center;
}

.pizza-card {
	position: relative;
	margin: 10px;
	padding: 0;
	overflow: hidden;
	border: 1px solid #ddd;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: transform 0.3s ease-in-out;
	height: 100%;
	cursor: pointer;
}

.pizza-card:hover {
	transform: scale(1.01); /* Increase the size on hover */
}

.pizza-card img {
	width: 100%;
	height: 100%;
	border-radius: 8px;

	object-fit: cover;
	transition: 0.3s ease-in-out;
}

.pizza-card:hover img {
	opacity: 0.8; /* Decrease opacity on hover */
}

.pizza-details {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.6);
	height: 100%;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	color: white;
	transition: 0.2s ease-in-out;
	cursor: pointer;
	opacity: 0;
}
.pizza-icon {
	color: yellow;
}
.pizza-card:hover .pizza-details {
	opacity: 1; /* Show details on hover */
}

.pizza-details h2 {
	font-size: 1em;
	text-align: center;
	text-transform: capitalize;
	font-family: "Gloria Hallelujah", cursive;
}

.pizza-details p {
	margin: 5px 0;
}
.pizza-details h3 {
	margin: 5px 5px;
	text-align: center;
	margin-bottom: auto;
	font-size: 17px;
}

.card-ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-height: 100px;
	overflow: hidden;
}

.card-ul li {
	flex-basis: 30%;
	box-sizing: border-box;
	padding: 0px; /* Ajusta según sea necesario */
	text-transform: capitalize;
}

/* Estilo opcional para agregar espacio entre las columnas */
ul:not(:last-child) {
	margin-bottom: 0px; /* Ajusta según sea necesario */
}

/* En tu archivo de estilos (por ejemplo, App.css) */
.btn-container {
	display: flex;
	margin: 3px;
	justify-content: center;
}

.btn-card-add,
.btn-card-remove {
	display: inline-block;
	padding: 10px 30px;
	margin: 5px;
	border: 1px solid #ccc;
	border-radius: 5px;
	text-decoration: none;
	color: #333;
	transition: 0.3s, color 0.3s;
	cursor: pointer;
}

.btn-card-add {
	background-color: yellow;
}
.btn-card-add:hover {
	background-color: rgb(171, 171, 110);
	transform: scale(1.03);
}

.btn-card-remove {
	background-color: red;
}

.btn-card-remove:hover {
	background-color: rgb(126, 45, 45);
	transform: scale(1.03);
}
